# Assignment 2 Solutions <img style = "position:absolute; TOP:0px; LEFT:840px; WIDTH:250px; HEIGHT:65px"  src ="https://drive.google.com/uc?export=view&id=1EnB0x-fdqMp6I5iMoEBBEuxB_s7AmE2k" />

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%pylab inline
pylab.rcParams['figure.figsize'] = (10.0, 8.0)

Populating the interactive namespace from numpy and matplotlib

## Assignment 2

1. Adapt your string-reversing function from the previous assignment to take in an arbitrary list, and return a new list which is the original list in reverse order. (Again, ```return listname[::-1]``` is easy, but not the point of the exercise.)
2. Suppose we're out grocery shopping, and currently have the following produce in our basket:<br>
`shopping_basket = ['cherry','lemon','celery','grapefruit','apricot'] `.<br>
We have the following dictionary of some fruit by type: <br>
`f_dict = {'citrus':['lemon','lime','grapefruit','orange','pomelo'],'stone fruit':['cherry','apricot','peach'],'pome':['apple','pear','quince']}`. <br>
Write a script which will give a list of all of the items in your basket which are citrus.
3. Continuing from the prep course, write a function which takes in an arbitrary list of numbers, and returns the mean.  (Note:  while `return np.mean(listname)` is easy, it's not really the point of the exercise).  Use this list of numbers to test it: `[25, 54, 27, 54, 23, 47, 23,  4, 27, 36, 26, 12, 25, 29, 41]`. How would you adjust your code to deal with lists that include non-numeric entries?
4. Consider this dictionary of class marks:<br>
`ixlist = ['Patrick','Lindsay','Ivan','Emily','Iva']
class_marks = {'Assignment 1':pd.Series([72,85,87,94,77],index = ixlist),'Assignment 2':pd.Series([82,89,92,92,84],index = ixlist), 'Assignment 3':pd.Series([80,94,90,99,85],index = ixlist), 'Midterm':pd.Series([86,95,92,97,89],index = ixlist), 
'Final Exam':pd.Series([84,92,90,91,92],index = ixlist)}`<br>
Turn this into a Dataframe, and create a new column to compute the 'Final Grade' with the following weighting of marks:  30% for Assignments, 30% for the Midterm, and 40% for the Final Exam.
5. We saw that we can create new lists using for loops and the `.append()` function.  For iteratively creating lists, however, there is a much better method:  **list comprehensions**.  They have the basic format `l = [f(x) for x in iterable]`, where `f(x)` is some function on `x`. <br>
Rewriting the example from above where we wanted the list of `2*x+1` for x between 1 and 10: <br>
`another_list = [2*x+1 for x in range(1,11)]`.<br>
Not only do list comprehensions make your code neater and more compact, they're also faster than using for loops.
    1. Create a list using a comprehension which contains all of the odd numbers from $-10$ to $10$ (inclusive).
    2. You can add conditionals to list comprehensions, just as we did with the for loop.  The syntax is<br>
    ` l= [f(x) for x in iterable if (condition on x)]`.  Use a list comprehension to determine how many times letters from the first half of the alphabet (capital and lowercase!) appear in the following sentence:<br>
    'To construct the notion of a Lie group in Dirac geometry, extending the definition of Poisson Lie groups, the Courant algebroids A must themselves carry a multiplicative structure.'
    3. Write a list comprehension whose elements are lists `[x,y]`, where `x` can take on the values `[1,2,3,4]`, where `y` can take on values `[2,4,6]`, and where the `x` and `y` values are not equal.  (Hint: you can chain the `for` statements together in a comprehension).
6. (Bonus) In financial futures trading, each instrument (e.g.: wheat, oil, USD/CAD, S&P500) has its own symbol.  For example, the S&P500 e-mini is called ES.  Each instrument also has a specific number of months it trades, each of which has its own single-letter symbol; ES trades March (H), June (M), September (U), and December (Z).  To refer to a specific contract, you need the instrument name, month code, and year.  The December 2015 S&P500 contract would be ESZ15.  Consider the following list of contracts:<br>
`contracts = ['ESM15','ESZ14','ESU15','ESH15','ESZ15','ESU14']`<br>
If we want them in chronological order (e.g.: 'ESU14' is first, then 'ESZ14', etc.), we can't use the sorted() function, because this will sort them alphanumerically.  Write a function which sorts this list of contracts into chronological order.
7. (Bonus) We can approximate a *matrix* by creating a list of lists, e.g.: `[[1,2],[0,1]]` can be seen as representing the matrix $\begin{bmatrix} 1 & 2 \\ 0 & 1 \end{bmatrix}$ by considering each of the internal lists as the rows.  We can *transpose* a matrix by switching the rows and the columns (i.e.: the first row becomes the first column, etc.).  For example, the tranpose of the matrix `[[1,2],[0,1]` is `[[1,0],[2,1]`, i.e.: $\begin{bmatrix} 1 & 0 \\ 2 & 1 \end{bmatrix}$.<br>
Write a list comprehension that gives us the transpose of a matrix.

## 1.

In [33]:
# Example list to test
l_ex = [1,2,3,4,5]

def list_reverse(l):
    m = []
    for x in range(len(l)):
        m.append(l[len(l)-x-1])
    return m

list_reverse(l_ex)

[5, 4, 3, 2, 1]

## 2.

In [2]:
shopping_basket = ['cherry','lemon','celery','grapefruit','apricot']
f_dict = {'citrus':['lemon','lime','grapefruit','orange','pomelo'],
          'stone fruit':['cherry','apricot','peach'],'pome':['apple','pear','quince']}
l = []
for x in shopping_basket:
    if x in f_dict['citrus']:
        l.append(x)
l

['lemon', 'grapefruit']

## 3.

In [3]:
l = [25, 54, 27, 54, 23, 47, 23,  4, 27, 36, 26, 12, 25, 29, 41]
def mean_calc(listname):
    n = len(listname)
    mn = sum(listname)/n
    return mn

# or, if they don't know about sum()

def mean_calc_2(listname):
    n = len(listname)
    sm = 0
    for x in listname:
        sm = sm + x
    return sm/n

# To deal with non-numeric items, we could do an initial check in the function
# for x in listname:
#    if type(x)!=int or type(x)!=float:
#        print('Error: List contains non-numeric items')
#        return
#    else:
#      (the original code)

In [5]:
mean_calc_2(l)

30.2

## 4.

In [5]:
class_marks = {'Assignment 1':pd.Series([72,85,87,94,77],index = ['Patrick','Lindsay','Ivan','Emily','Iva']),
                   'Assignment 2':pd.Series([82,89,92,92,84],index = ['Patrick','Lindsay','Ivan','Emily','Iva']),
                   'Assignment 3':pd.Series([80,94,90,99,85],index = ['Patrick','Lindsay','Ivan','Emily','Iva']),
                   'Midterm':pd.Series([86,95,92,97,89],index = ['Patrick','Lindsay','Ivan','Emily','Iva']),
                   'Final Exam':pd.Series([84,92,90,91,92],index = ['Patrick','Lindsay','Ivan','Emily','Iva'])}

df = pd.DataFrame(class_marks)
df['Final Mark'] = 0.1*df['Assignment 1']+0.1*df['Assignment 2']+0.1*df['Assignment 3']+0.3*df['Midterm']+0.4*df['Final Exam']

df

,Assignment 1,Assignment 2,Assignment 3,Final Exam,Midterm,Final Mark
Patrick,72,82,80,84,86,82.8
Lindsay,85,89,94,92,95,92.1
Ivan,87,92,90,90,92,90.5
Emily,94,92,99,91,97,94.0
Iva,77,84,85,92,89,88.1

## 5.a.

In [4]:
#
odds = [2*x+1 for x in range(-5,5)]
odds

[-9, -7, -5, -3, -1, 1, 3, 5, 7, 9]

## 5.b.

In [6]:
sentence = 'To construct the notion of a Lie group in Dirac geometry, extending the definition of Poisson Lie groups, the Courant algebroids A must themselves carry a multiplicative structure.'
alph_half = 'ABCDEFGHIJKLMabcdefghijklm'
# Note: particularly good students can also just redefine sentence = sentence.lower()
letters = [x for x in sentence if x in alph_half]
print(len(letters))

72

## 5.c.

In [9]:
l = [[x,y] for x in [1,2,3,4] for y in [2,4,6] if x!=y]
print(l)

[[1, 2], [1, 4], [1, 6], [2, 4], [2, 6], [3, 2], [3, 4], [3, 6], [4, 2], [4, 6]]

## 6.

In [12]:
# Note: there are probably many interesting ways to do this!  This is a good one to get students to explain their solutions
# to, if they tried it.

contracts = ['ESM15','ESZ14','ESU15','ESH15','ESZ15','ESU14']

def contract_sort(clist):
    for x in range(0,len(clist)):
        clist[x] = clist[x][-2:]+clist[x][-2::-1]
        clist.sort()
    for x in range(0,len(clist)):
        clist[x] = clist[x] = clist[x][:2:-1]+clist[x][0:2]
    return clist

In [13]:
contract_sort(contracts)

['ESU14', 'ESZ14', 'ESH15', 'ESM15', 'ESU15', 'ESZ15']

## 7.

In [22]:
def transp(matrix):
    row_len = len(matrix[0])
    return [[row[i] for row in matrix] for i in range(row_len)]

In [23]:
# e.g.:
m = [[1,2,3],[0,1,2]]
transp(m)

[[1, 0], [2, 1], [3, 2]]

<div id="container" style="position:relative;">
<div style="position:relative; float:right"><img style="height:25px""width: 50px" src ="https://drive.google.com/uc?export=view&id=14VoXUJftgptWtdNhtNYVm6cjVmEWpki1" />
</div>
</div>